/*********************************************************************************

	Template Name: Template full name  
	Template URI: https://themeforest.net/user/
	Description: Template description
	Author: author name
	Author URI: author uri
	Version: 1.0

	Note: This is main css. All plugins css files import here.

	

**********************************************************************************/

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
	width: 100%;
	margin: 0 auto;
  }
  
  .container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	
  }
  
  .wrap-login100 {
	width: 960px;
	background: rgba(74,77,78, 0.6);
	border-radius: 10px;
	overflow: hidden;
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 177px 130px 33px 95px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-pic {
	width: 316px;
  }
  
  .login100-pic img {
	max-width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
	width: 290px;
  }
  
  .login100-form-title {
	font-family: Poppins-Bold;
	font-size: 24px;
	color: #f1f1f1;
	line-height: 1;
	text-align: center;
  
	width: 100%;
	display: block;
	padding-bottom: 54px; 
  }
  
  
  /*---------------------------------------------*/
  .wrap-input100 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
  }
  
  .input100 {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
  
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 25px;
	padding: 0 30px 0 68px;
  }

  /*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
	display: block;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(87,184,70, 0.8);
  }
  
  .input100:focus + .focus-input100 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
	to {
	  box-shadow: 0px 0px 70px 25px;
	  opacity: 0;
	}
  }
  
  @keyframes anim-shadow {
	to {
	  box-shadow: 0px 0px 70px 25px;
	  opacity: 0;
	}
  }
  
  .symbol-input100 {
	font-size: 15px;
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
	color: #57b846;
	padding-left: 28px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
  }
  
  .login100-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
  
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #e60000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
	background: #333333;
  }
  
/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
	.wrap-login100 {
	  padding: 177px 90px 33px 85px;
	}
  
	.login100-pic {
	  width: 35%;
	}
  
	.login100-form {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	.wrap-login100 {
	  padding: 100px 80px 33px 80px;
	}
  
	.login100-pic {
	  display: none;
	}
  
	.login100-form {
	  width: 100%;
	}
  }
  
  @media (max-width: 576px) {
	.wrap-login100 {
	  padding: 100px 15px 33px 15px;
	}
  }
  
  /*------------------------------------------------------------------
  [ search text box ]*/
  /* Bootstrap 4 text input with search icon */
  
  .has-search .form-control {
	padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
	position: relative;
  }
  
  .alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: white;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;
  
	font-family: Poppins-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
  
	visibility: hidden;
	opacity: 0;
  
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
  }
  
  .alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
  }
  
  .alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
  }
  
  @media (max-width: 992px) {
	.alert-validate::before {
	  visibility: visible;
	  opacity: 1;
	}
	}
	
	/*------------------------------------------------------------------
	[ Search Box ]*/

	.containerSearchBox {
		margin: 0px;
		background: #d50c0d;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
	}
	
	.containerSearchBox input {
		background: transparent;
		border: 0;
		font-size: 30px;
		color: #fff;
	}
	.suggestions {
		border-top: 2px solid #999;
	}
	.suggestions > div {
		padding: 15px;
		font-size: 20px;
		color: #fff;
		border-top: 1px solid #666;
		cursor: pointer;
	}
	.suggestions > div:hover {
		background-color: #d50c0d;
	}

	/*------------------------------------------------------------------
	[ Email confirmation ]*/
	.card-box .card-drop {
		color: #9a9da0;
		font-size: 20px;
		line-height: 1px;
		padding: 0px;
		align-items: center;
		display: inline-block;
	}

	.text-muted {
			color: #9a9da0 !important;
	}

	.logo-alt-box h5 {
			
	}
	


  